/* App.css */
body {
  margin: 0; /* Remove default body margin */
  display: grid;
  place-items: center; /* Centers both horizontally and vertically */
  height: 100vh; /* Full viewport height */
  background-color: #f0f0f0; /* Optional background color */
}

.container {
  text-align: center; /* Center text inside the container */
  padding: 20px;
  background-color: #ffffff; /* Optional background color */
  box-shadow: 4px 8px 200px 100px rgb(24, 239, 236); /* spread-radius: 2px */
  border-radius: 70px; /* Optional rounded corners */
}

.custom-btn-incr {
  border-radius: 50px;
  padding: 10px;
  background-color: blue;
  border-color: black;
  border-width: 5px;
  color: white;
  cursor: pointer;
  margin-right: 20px;
  font-family: monospace;
}
.custom-btn-decr {
  border-radius: 50px;
  padding: 10px;
  background-color: blue;
  border-color: black;
  border-width: 5px;
  color: white;
  cursor: pointer;
  font-family: monospace;
}
